@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /*
    https://css-tricks.com/the-trick-to-viewport-units-on-mobile/
    https://lukechannings.com/blog/2021-06-09-does-safari-15-fix-the-vh-bug/
    However, we need to overwrite this with `lg:!h-full` for desktop.
  */
  .computed-h-screen {
    height: 100vh;
    height: calc((var(--vh, 1vh) * 100) - env(safe-area-inset-bottom));
  }

  .img-thumbnail {
    @apply p-0.5;
    @apply border border-gray-200;
    @apply rounded-sm;
  }

  .notice {
    @apply mb-3 p-4;
    @apply bg-sky-100;
    @apply rounded;
    @apply leading-normal;
  }

  /* Overwrite defaults, which we cannot to inline since markdow makes that hard. */
  .prose .notice p {
    @apply first:mt-0;
    @apply last:mb-0;
  }
  .prose .notice > h1:first-child,
  .prose .notice > h2:first-child {
    @apply mt-0;
  }

  /* Single class so we can toggle it easily in JS. */
  .menu-active {
    @apply bg-blue-600 text-blue-50 hover:!bg-blue-600;
    @apply cursor-text;
  }

  /* Based on a TailwindUI Theme Button */
  .button-outline {
    @apply inline-flex justify-center rounded-md border border-blue-300 py-[calc(theme(spacing.1)-1px)] px-[calc(theme(spacing.4)-1px)] text-base font-semibold tracking-tight text-blue-600 no-underline hover:border-blue-400 hover:bg-blue-50 focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 active:text-blue-600/70 disabled:opacity-40 disabled:hover:border-blue-300 disabled:hover:bg-transparent;
  }
}
