---
import clsx from 'clsx'
import { getCollection } from 'astro:content'

const allPosts = await getCollection('posts')
const sortedPosts = allPosts.sort(
  (postA, postB) => new Date(postB.data.pubDate).valueOf() - new Date(postA.data.pubDate).valueOf(),
)
const relevantPosts = sortedPosts.filter((p) => p.data.inMenu === true)

export type Props = { menuHighlight?: string | undefined }

const { menuHighlight } = Astro.props
const pathname = new URL(Astro.request.url).pathname
---

<h2 class="my-2 text-xl font-semibold">
  <a href="/posts" class={clsx({ 'hover:text-blue-500': menuHighlight !== 'posts' }, 'text-black')}>
    Neuigkeiten <span class="text-gray-500">({relevantPosts.length})</span>
  </a>
</h2>
<div class="mb-7 flex flex-col overflow-hidden rounded border border-b-0 border-gray-200">
  {
    relevantPosts.map((post) => {
      return (
        <a
          href={`/posts/${post.slug}`}
          class={clsx(
            pathname == `/posts/${post.slug}` ? 'menu-active' : 'hover:bg-blue-50',
            'flex items-center border-b border-gray-200 py-2 pl-4 leading-tight',
          )}
        >
          <span class="-ml-1.5 mr-1 inline-flex rounded-full bg-gray-100 px-1.5 py-0.5 text-xs text-gray-500">
            {[
              new Date(post.data.pubDate).getFullYear(),
              new Date(post.data.pubDate).toLocaleDateString([], { month: '2-digit' }),
            ].join('/')}
          </span>
          {post.data.menuTitle}
        </a>
      )
    })
  }
</div>
