---
import clsx from 'clsx'

export interface Props {
  menuHighlight: string | undefined
}

const { menuHighlight } = Astro.props
---

<div
  class="mb-7 mt-5 flex flex-col overflow-hidden rounded border border-b-0 border-gray-200 sm:mt-0"
>
  <a
    href="/"
    class={clsx(
      menuHighlight === 'about' ? 'menu-active' : 'hover:bg-blue-50',
      'border-b border-gray-200 py-2 px-4'
    )}
  >
    Über das Projekt
  </a>
  <a
    href="/project-prototype-neukoelln/report"
    class={clsx(
      menuHighlight === 'report' ? 'menu-active' : 'hover:bg-blue-50',
      'border-b border-gray-200 py-2 px-4'
    )}
  >
    Methodenbericht
  </a>
  <a
    href="/participate"
    class={clsx(
      menuHighlight === 'participate' ? 'menu-active' : 'hover:bg-blue-50',
      'border-b border-gray-200 py-2 px-4'
    )}
  >
    Mitmachen <code class="text-md text-red-900">TODO</code>
  </a>
</div>

<h2 class="my-2 flex items-center text-xl font-semibold">
  Parkraum Berlin
  <a
    href="/#project-vector-tiles"
    class="ml-1 rounded-full ring-blue-500 hover:bg-blue-100 hover:ring-2"
  >
    <img src="/images/icons/questionmarkCircle.svg" class="h-5 w-5" alt="" area-hidden="true" />
    <span class="sr-only">Mehr erfahren…</span>
  </a>
</h2>
<div class="mb-7 flex flex-col overflow-hidden rounded border border-b-0 border-gray-200">
  <a
    href="/project-vector-tiles"
    class={clsx(
      menuHighlight === 'project_vector_tiles_map' ? 'menu-active' : 'hover:bg-blue-50',
      'border-b border-gray-200 py-2 px-4'
    )}
  >
    Karte Berlin
  </a>
  <a
    href="/project-vector-tiles/dashboard"
    class={clsx(
      menuHighlight === 'project_vector_tiles_dashboard' ? 'menu-active' : 'hover:bg-blue-50',
      'border-b border-gray-200 py-2 px-4'
    )}
  >
    Statistik
  </a>
  <a
    href="/project-vector-tiles/data"
    class={clsx(
      menuHighlight === 'project_vector_tiles_data' ? 'menu-active' : 'hover:bg-blue-50',
      'border-b border-gray-200 py-2 px-4'
    )}
  >
    Daten
  </a>
</div>

<h2 class="my-2 flex items-center text-xl font-semibold">
  Prototype Neukölln
  <a
    href="/#project-prototype-neukoelln' }}"
    class="ml-1 rounded-full ring-blue-500 hover:bg-blue-100 hover:ring-2"
  >
    <img src="/images/icons/questionmarkCircle.svg" class="h-5 w-5" alt="" area-hidden="true" />
    <span class="sr-only">Mehr erfahren…</span>
  </a>
</h2>

<div class="mb-7 flex flex-col overflow-hidden rounded border border-b-0 border-gray-200">
  <a
    href="/project-prototype-neukoelln?map=parkingmap"
    class={clsx(
      menuHighlight === 'project_prototype_map' ? 'menu-active' : 'hover:bg-blue-50',
      'border-b border-gray-200 py-2 px-4'
    )}
  >
    Karte Neukölln
  </a>

  <a
    href="/project-prototype-neukoelln/data"
    class={clsx(
      menuHighlight === 'project_prototype_data' ? 'menu-active' : 'hover:bg-blue-50',
      'rounded-b border-b border-gray-200 py-2 px-4'
    )}
  >
    Daten
  </a>
</div>
