---
import clsx from 'clsx'

export interface Props {
  menuHighlight: string | undefined
}

const { menuHighlight } = Astro.props
---

<div
  class="mb-7 mt-5 flex flex-col overflow-hidden rounded border border-b-0 border-gray-200 sm:mt-0"
>
  <a
    href="/"
    class={clsx(
      menuHighlight === 'about' ? 'menu-active' : 'hover:bg-blue-50',
      'border-b border-gray-200 px-4 py-2',
    )}
  >
    Über das Projekt
  </a>
  <a
    href="/project-prototype-neukoelln/report"
    class={clsx(
      menuHighlight === 'report' ? 'menu-active' : 'hover:bg-blue-50',
      'border-b border-gray-200 px-4 py-2',
    )}
  >
    Methodenbericht
  </a>
  <a
    href="/participate"
    class={clsx(
      menuHighlight === 'participate' ? 'menu-active' : 'hover:bg-blue-50',
      'border-b border-gray-200 px-4 py-2',
    )}
  >
    Mitmachen
  </a>
  <a
    href="/faq"
    class={clsx(
      menuHighlight === 'faq' ? 'menu-active' : 'hover:bg-blue-50',
      'border-b border-gray-200 px-4 py-2',
    )}
  >
    FAQ
  </a>
</div>
