---
import clsx from 'clsx'
import NavigationFooter from './NavigationFooter.astro'
import NavigationGeneral from './NavigationGeneral.astro'
import NavigationNews from './NavigationNews.astro'
import NavigationRegions from './NavigationRegions.astro'

export interface Props {
  /** @desc switches the navigation to scroll in itself ("app") vs. with the "article" */
  layoutType: 'article' | 'app'
  currentPage: string
  menuHighlight?: string | undefined
}

const { layoutType, menuHighlight } = Astro.props
---

<nav
  class={clsx(
    { 'overflow-y-scroll bg-white': layoutType === 'app' },
    { 'mb-10': layoutType !== 'app' },
    'relative z-[1001] w-full px-3 py-3 shadow-xl lg:z-auto lg:h-full lg:w-64 lg:py-6 lg:shadow-none sm:mb-0 flex-none'
  )}
  lang="de"
>
  <a href="/"
    ><h1 class="text-xl font-semibold !leading-[1.8rem] lg:text-2xl">
      <span class="hidden lg:inline">OpenStreetMap</span>
      <span class="lg:hidden">OSM</span> Parkraum Projekt
    </h1>
  </a>
  <p class="text-sm text-gray-400 lg:mb-5">
    <a href="https://www.osm-verkehrswende.org" class="hover:text-blue-500"
      >OpenStreetMap Verkehrswende</a
    >
  </p>

  <button
    type="button"
    data-show-hide-trigger="navi"
    class="absolute right-5 top-5 block rounded-sm border border-blue-500 bg-blue-200 text-blue-500 print:hidden lg:hidden"
  >
    <!-- https://fontawesome.com/v5.15/icons/bars?style=solid -->
    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-8 w-8" viewBox="0 0 16 16">
      <path
        fill-rule="evenodd"
        d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
      ></path>
    </svg>
  </button>

  <div data-show-hide-target="navi" class="z-[2000] hidden transition-all duration-150 lg:block">
    <NavigationGeneral menuHighlight={menuHighlight} />
    <NavigationRegions menuHighlight={menuHighlight} />
    <NavigationNews menuHighlight={menuHighlight} />
    <NavigationFooter menuHighlight={menuHighlight} />
  </div>
</nav>
