---
import clsx from 'clsx'

export interface Props {
  menuHighlight: string | undefined
}

const { menuHighlight } = Astro.props
---

<ul class="prose prose-sm leading-snug lg:mb-4 lg:ml-4 lg:block">
  <li>
    <a
      class={clsx(
        'block pb-3',
        menuHighlight === 'contact' ? 'text-bold text-black' : 'hover:text-gray-500',
        'underline',
      )}
      href="/contact"
    >
      Kontakt & <br />Datenschutz & <br />Impressum
    </a>
  </li>
  <li>
    <a class="block pb-3 underline hover:text-gray-500" href="/github"> Code auf GitHub</a>
  </li>
</ul>
