<div
  class="mb-7 flex flex-col overflow-hidden rounded border border-b-0 border-gray-200"
>
  <a
    href="{{ '/' | relative_url }}"
    class="{% if page.menu_highlight == 'about' %}menu-active{% else %}hover:bg-blue-50{% endif %} border-b border-gray-200 py-2 px-4"
  >
    Über das Projekt
  </a>
  <a
    href="{{ '/project-prototype-neukoelln/report' | relative_url }}"
    class="{% if page.menu_highlight == 'report' %}menu-active{% else %}hover:bg-blue-50{% endif %} border-b border-gray-200 py-2 px-4"
  >
    Methodenbericht
  </a>
  <a
    href="{{ '/participate' | relative_url }}"
    class="{% if page.menu_highlight == 'participate' %}menu-active{% else %}hover:bg-blue-50{% endif %} border-b border-gray-200 py-2 px-4"
  >
    Mitmachen <code class="text-md text-red-900">TODO</code>
  </a>
</div>

<h2 class="my-2 flex items-center text-xl font-semibold">
  Parkraum Berlin
  <a href="{{ '/#project-vector-tiles' | relative_url }}" class="ml-1"
    ><img
      class="h-5 w-5"
      src="{{ 'images/icons/questionmark.svg' | relative_url }}"
      alt="Mehr erfahren…"
  /></a>
</h2>
<div
  class="mb-7 flex flex-col overflow-hidden rounded border border-b-0 border-gray-200"
>
  <a
    href="{{ 'project-vector-tiles' | relative_url }}"
    class="{% if page.menu_highlight == 'project_vector_tiles_map' %}menu-active{% else %}hover:bg-blue-50{% endif %} border-b border-gray-200 py-2 px-4"
  >
    Karte Berlin
  </a>
  <a
    href="{{ 'project-vector-tiles/dashboard' | relative_url }}"
    class="{% if page.menu_highlight == 'project_vector_tiles_dashboard' %}menu-active{% else %}hover:bg-blue-50{% endif %} border-b border-gray-200 py-2 px-4"
  >
    Statistik
  </a>
  {% comment %}
  <a
    href="{{ 'project-vector-tiles/data' | relative_url }}"
    class="{% if page.menu_highlight == 'project_vector_tiles_data' %}menu-active{% else %}hover:bg-blue-50{% endif %} border-b border-gray-200 py-2 px-4"
  >
    Daten <code class="text-md text-red-900">TODO</code>
  </a>
  {% endcomment %}
</div>

<h2 class="my-2 flex items-center text-xl font-semibold">
  Prototype Neukölln
  <a href="{{ '/#project-prototype-neukoelln' | relative_url }}" class="ml-1"
    ><img
      class="h-5 w-5"
      src="{{ 'images/icons/questionmark.svg' | relative_url }}"
      alt="Mehr erfahren…"
  /></a>
</h2>

<div
  class="mb-7 flex flex-col overflow-hidden rounded border border-b-0 border-gray-200"
>
  <a
    href="{{ '/project-prototype-neukoelln?map=parkingmap' | relative_url }}"
    class="{% if page.menu_highlight == 'project_prototype_map' %}menu-active{% else %}hover:bg-blue-50{% endif %} border-b border-gray-200 py-2 px-4"
  >
    Karte Neukölln
  </a>

  <a
    href="{{ '/project-prototype-neukoelln/data' | relative_url }}"
    class="{% if page.menu_highlight == 'project_prototype_data' %}menu-active{% else %}hover:bg-blue-50{% endif %} rounded-b border-b border-gray-200 py-2 px-4"
  >
    Daten
  </a>
</div>
