---
import LayoutArticlePage from '@layouts/LayoutArticlePage.astro'
---

<LayoutArticlePage
  menuHighlight="about"
  title="Parkraumdaten auf Basis von OpenStreetMap — Ein Projekt der OpenStreetMap Verkehrswende-Gruppe"
>
  <h1
    class="mb-4 bg-gradient-to-br from-teal-500 to-emerald-400 bg-clip-text pb-2 text-4xl font-extrabold leading-8 !text-transparent md:text-6xl md:leading-[4rem]"
  >
    Parkraumanalyse mit OpenStreetMap
  </h1>
  <p class="-mt-2 text-3xl font-bold text-sky-700">
    Offene OSM-Daten werden prozessiert um präzise, freie Daten über das Parken im öffentlichen Raum
    zu liefern.
  </p>

  <div id="goals" class="target:notice target:bg-purple-100 hover:bg-purple-50">
    <h2 class="mb-3">Über das Projekt</h2>

    <p>
      Die Parkraumanalyse ist Teil der ehrenamtlichen Arbeit der
      <a href="https://www.osm-verkehrswende.org">OpenStreetMap Verkehrswende</a>-Gruppe. Auf dieser
      Projektseite bündeln wir alle Informationen rund um die verschiedenen Aktivitäten der
      Teilnehmer:innen.
    </p>
  </div>

  <div id="goals" class="target:notice target:bg-purple-100 hover:bg-purple-50">
    <h2 class="mb-3">Ziele</h2>

    <ul>
      <li>
        Ziel ist es, detaillierte Informationen zum Parken im öffentlichen Raum bereitstellen in
        Form von interaktiven Karten und aufbereiteten Daten-Exporten.
        <span class="text-gray-500">
          Mehr zu unserer
          <a href="https://www.osm-verkehrswende.org/" class="text-gray-500"
            >übergreifenden Motivation</a
          >
          haben wir auf www.osm-verkehrswende.org formuliert.
        </span>
      </li>
      <li>
        <strong>Welche Daten:</strong> Unser Fokus liegt auf dem Parken im öffentlichen Straßenraum,
        das in OpenStreetMap mit dem
        <code>parking:lane</code>-Schema erfasst wird. Separate Parkflächen werden zum Teil
        berücksichtigt. Öffentliche und private Parkplätze (Tiefgaragen, Garagen) betrachten wir
        vermutlich später auch.
      </li>
      <li>
        <strong>OpenStreetMap</strong> – Ziel ist, die Analysen zu möglichst 100&npsp;% auf OpenStreetMap-Daten
        zu basieren.
      </li>
      <li>
        <strong>OpenData, OpenSource</strong> – Ziel ist, alle Projektbestandteile offen zu entwickeln
        und offen bereitzustellen.
      </li>
      <li>
        Global denken, lokal handeln — Wir fokussieren uns auf Berlin aber denken bei unserer Arbeit
        an die Skalierung auf weitere Städte, ganz Deutschland und darüber hinaus.
      </li>
    </ul>

    <p>
      <em>Nicht-Ziele:</em> Das
      <strong>Interpolieren von Parkraumdaten</strong> an Orten, an denen noch keine
      <code>parking:lane</code>-Informationen in OSM erfasst wurden, ist zur Zeit nicht Teil des
      Projektes. Lieber möchten wir zur tatsächlichen Vervollständigung der Daten motivieren.
    </p>
  </div>

  <div id="project-vector-tiles" class="target:notice target:bg-purple-100 hover:bg-purple-50">
    <h2 class="mb-3">Projekt Parkraum Berlin (Vector Tiles)</h2>

    <p>
      In unserem neusten Projekt haben wir uns zum Ziel gesetzt, die Erfahrungen aus dem Prototyp
      Neukölln auf eine skalierbare technische Basis zu heben.
    </p>
    <p>
      Innerhalb von ~15 Minuten können wir Daten für ganz Berlin generieren, die als sogenannte
      Vector Tiles ausgeliefert werden können. Diese Daten erlauben es, interaktive Karten (man kann
      bspw. Segemente anklicken um sie zu summieren) mit unterschiedlichen Visualisierungen zu
      bauen.
    </p>

    <p>
      <a href="/project-vector-tiles" class="button-outline">Zur Karte</a>
    </p>

    <p>
      <a href="https://github.com/gislars/strassenraum-berlin"
        ><strong>Code: GitHub</strong> (Code zum generieren der Vector Tiles)</a
      >
    </p>
  </div>

  <div
    id="project-prototype-neukoelln"
    class="target:notice target:bg-purple-100 hover:bg-purple-50"
  >
    <h2 class="mb-3">Projekt Prototyp Neukölln (Parkraumkarte)</h2>

    <p>
      Die Parkraumanalyse Neukölln ist ein Projekt von Alex Seidel (OSM:
      <a href="https://www.openstreetmap.org/user/Supaplex030/">Supaplex030</a>) und der
      OpenStreetMap Community Berlin. Sie baut auf einer speziellen Basiskarte auf, die Alex als
      weiteres Projekt unter
      <a href="https://strassenraumkarte.osm-berlin.org">strassenraumkarte.osm-berlin.org</a>
      entwickelt.
    </p>
    <p>
      Dank der hohen präzision der Basiskarte, sehr detailliertem Mappen in OSM Neukölln sowie
      punktueller manueller Nachbereitung erreicht Alex eine
      <strong>Präzision mit weniger als 5&nbsp;% Abweichung von der Realität</strong>
      (basierend auf Zählungen in Stichproben).
    </p>
    <p>
      Das Script, das diese Daten generiert ist in Python geschrieben, erfordert manuelle
      Arbeitsschritte und eignet sich aufgrund seines prototypischen Charakters nur zum Generieren
      von Daten für einzelne Ortsteile.
    </p>

    <p>
      <a href="/project-prototype-neukoelln" class="button-outline">Zur Karte</a>
    </p>

    <p>
      <a
        href="https://github.com/osmberlin/parkraum.osm-verkehrswende.org/project-prototype-neukoelln"
        ><strong>Code: GitHub</strong> (Website, Python, Daten-Extrakte)</a
      >
    </p>
  </div>

  <div id="cooperation-xhain" class="target:notice target:bg-purple-100 hover:bg-purple-50">
    <h2 class="mb-3">Kooperation Xhain</h2>

    <p>
      Anfang 2022 haben sich Aktive aus der OSM-Community mit dem Bezirksamt
      Friedrichshain-Kreuzberg (Xhain) und
      <a href="https://www.fixmycity.de">FixMyCity</a> zusammengeschlossen um in einer gemeinsamen Kampagne
      zusammen mit zivilgesellschaftlichen Akteuren Parkraumdaten für Xhain zu erfassen. Teil des Projektes
      ist auch, die Datenqualität zusammen mit dem Bezirksamt zu prüfen.
    </p>
    <p>
      Mehr Informationen
      <a href="https://fixmyberlin.de/parkraum/friedrichshain-kreuzberg"
        >auf der Projektseite des Bezirksamtes bei fixmyberlin</a
      >
      sowie
      <a
        href="https://wiki.openstreetmap.org/wiki/Berlin/Verkehrswende/Parkraum/Mapping_Kampagne_Xhain"
        >auf der Wiki-Projektseite der OSM Berlin Community</a
      >
    </p>
  </div>

  <div id="prototype-fund" class="target:notice target:bg-purple-100 hover:bg-purple-50">
    <h2 class="mb-3">Förderung Prototype Fund</h2>

    <p>
      Im Zeitraum September 2022 bis Februar 2023 wird dieses Projekt durch den Prototype Fund des
      Bundesministeriums für Bildung und Forschung gefördert.
      <a href="/posts/2022-09-01-prototype-fund">Mehr erfahren…</a>
    </p>
    <div class="grid grid-cols-3 items-start justify-start gap-3">
      <img
        src="/images/prototype-fund/logo-prototype-fund.svg"
        class="m-0"
        alt="Logo Prototype Fund"
      />
      <img
        src="/images/prototype-fund/logo-bmbf.svg"
        class="m-0"
        alt="Logo Bundesministerium für Bildung und Forschung"
      />
    </div>
  </div>

  <div id="contact" class="target:notice target:bg-purple-100 hover:bg-purple-50">
    <h2 class="mb-3">Kontakt</h2>

    <p>
      <a href="/contact">Meetups, Github, Telegram, …</a>
    </p>
  </div>
</LayoutArticlePage>
