---
import LayoutArticlePage from '@layouts/LayoutArticlePage.astro'
import ParkraumLogo from '../../public/images/osm-parkraum-logo-2025.svg'
---

<LayoutArticlePage
  title="Parkraumdaten auf Basis von OpenStreetMap — Ein Projekt der OpenStreetMap Verkehrswende-Gruppe"
>
  <ParkraumLogo
    class="top-24 right-10 mt-0 mb-2 inline-block h-20 w-20 drop-shadow-sm sm:absolute md:block md:h-28 md:w-28 lg:top-10"
  />
  <h1
    class="mb-4 bg-linear-to-br from-teal-500 to-emerald-400 bg-clip-text pb-2 text-4xl leading-8 font-extrabold text-transparent! md:text-6xl md:leading-[4rem]"
  >
    Parkraumanalyse mit OpenStreetMap
  </h1>
  <p class="-mt-2 text-3xl font-bold text-sky-700">
    Offene OSM-Daten werden prozessiert um präzise, freie Daten über das Parken im öffentlichen Raum
    zu liefern.
  </p>

  <div
    id="goals"
    class="target:notice target:bg-purple-100 hover:bg-purple-50 hover:ring-8 hover:ring-purple-50"
  >
    <h2 class="mb-3">Über das Projekt</h2>

    <p>
      Das OSM-Parkraumprojekt ist Teil der ehrenamtlichen Arbeit der
      <a href="https://www.osm-verkehrswende.org">OpenStreetMap Verkehrswende</a>-Gruppe. Auf dieser
      Projektseite bündeln wir alle Informationen rund um die verschiedenen Aktivitäten der
      Teilnehmer:innen.
    </p>
  </div>

  <div
    id="goals"
    class="target:notice target:bg-purple-100 hover:bg-purple-50 hover:ring-8 hover:ring-purple-50"
  >
    <h2 class="mb-3">Ziele</h2>

    <ul>
      <li>
        Ziel ist es, detaillierte Informationen zum Parken im öffentlichen Raum bereitzustellen in
        Form von interaktiven Karten und aufbereiteten Daten-Exporten.
        <span class="text-gray-500">
          Mehr zu unserer
          <a href="https://www.osm-verkehrswende.org/" class="text-gray-500"
            >übergreifenden Motivation</a
          >
          haben wir auf www.osm-verkehrswende.org formuliert.
        </span>
      </li>
      <li>
        <strong>Welche Daten:</strong> Unser Fokus liegt auf dem Parken im öffentlichen Straßenraum,
        das in OpenStreetMap mit dem
        <a href="https://wiki.openstreetmap.org/wiki/DE:Street_parking"
          ><code>Street Parking</code>-Schema</a
        > erfasst wird. Den Parkraum abseits des Straßenraums, also öffentliche und private Parkplätze
        (inkl. Tiefgaragen, Parkhäusern, Garagen) stellen wir ebenfalls dar – entsprechend der <a
          href="https://wiki.openstreetmap.org/wiki/DE:Good_practice">Guidelines von OSM</a
        >.
      </li>
      <li>
        <strong>OpenStreetMap</strong> – Die Analysen basieren zu 100&nbsp;% auf OpenStreetMap-Daten.
      </li>
      <li>
        <strong>OpenData, OpenSource</strong> – Alle Projektbestandteile sind OpenSource und OpenData.
      </li>
      <li>
        Global denken, lokal handeln — Unsere Pilotgebiet ist Berlin aber wir denken bei unserer
        Arbeit an die Skalierung auf weitere Regionen, ganz Deutschland und darüber hinaus.
      </li>
    </ul>

    <p>
      <em>Nicht-Ziele:</em> Das
      <strong>Interpolieren von Parkraumdaten</strong> an Orten, an denen noch keine Parkstreifen-Informationen
      in OSM erfasst wurden, ist nicht Teil des Projektes. Stattdessen möchten wir zur tatsächlichen
      Vervollständigung der Daten motivieren.
    </p>
  </div>

  <div
    id="project-vector-tiles"
    class="target:notice target:bg-purple-100 hover:bg-purple-50 hover:ring-8 hover:ring-purple-50"
  >
    <h2 class="mb-3">Projekt Parkraum Regionen (Vector Tiles)</h2>

    <p>
      Basierend auf den Erfahrungen des "Prototyp Neukölln" haben wir eine skalierbare Datenpipeline
      entwickelt, die es erlaubt, verschiedene Regionen in Deutschland in kurzer Zeit zu
      verarbeiten. Wir setzen dabei auf OpenSource Software wie osm2pgsql und PostGIS und liefern
      die Daten als Vector Tiles und tägliche Daten-Exporte aus.
    </p>
    <p>
      Auf einer interaktiven Karte kann man die Daten analysieren. Mit unserer "Debug" Ansicht kann
      man die Prozessierung der Daten nachvollziehen. Und zur einfachen Addition von Stellplätzen
      gibt es ein praktisches Summierungstool.
    </p>

    <p>
      <a href="/regions/berlin/" class="button-outline">Zur Karte und zum Export für Berlin</a>
    </p>

    <p>
      <a href="/github#projekt-parkraum-berlin-vector-tiles"
        ><strong>Code: GitHub</strong> (Code zum generieren der Vector Tiles, Exporte, WebGIS)</a
      >
    </p>
  </div>

  <div
    id="project-prototype-neukoelln"
    class="target:notice target:bg-purple-100 hover:bg-purple-50 hover:ring-8 hover:ring-purple-50"
  >
    <h2 class="mb-3">Projekt Prototyp Neukölln (Parkraumkarte)</h2>

    <p>
      Die Parkraumanalyse Neukölln ist ein Projekt von Alex Seidel (OSM:
      <a href="https://www.openstreetmap.org/user/Supaplex030/">Supaplex030</a>) und der
      OpenStreetMap Community Berlin. Sie baut auf einer speziellen Basiskarte auf, die Alex als
      weiteres Projekt unter
      <a href="https://strassenraumkarte.osm-berlin.org">strassenraumkarte.osm-berlin.org</a>
      entwickelt.
    </p>
    <p>
      Dank der hohen präzision der Basiskarte, sehr detailliertem Mappen in OSM Neukölln sowie
      punktueller manueller Nachbereitung erreicht Alex eine
      <strong>Präzision mit weniger als 5&nbsp;% Abweichung von der Realität</strong>
      (basierend auf Zählungen in Stichproben).
    </p>
    <p>
      Das Script, das diese Daten generiert ist in Python geschrieben, erfordert manuelle
      Arbeitsschritte und eignet sich aufgrund seines prototypischen Charakters nur zum Generieren
      von Daten für einzelne Ortsteile.
    </p>

    <p>
      <a href="/project-prototype-neukoelln/data" class="button-outline"
        >Zur Karte und zum Export für Neukölln</a
      >
    </p>

    <p>
      <a href="/github#projekt-prototyp-neuk%C3%B6lln-parkraumkarte"
        ><strong>Code: GitHub</strong> (Python Skripte zu Erstellen der Datengrundlage für die Parkraumkarte)</a
      >
    </p>
  </div>

  <div
    id="cooperation-xhain"
    class="target:notice target:bg-purple-100 hover:bg-purple-50 hover:ring-8 hover:ring-purple-50"
  >
    <h2 class="mb-3">Kooperation Xhain</h2>

    <p>
      Anfang 2022 haben sich Aktive aus der OSM-Community mit dem Bezirksamt
      Friedrichshain-Kreuzberg (Xhain) und
      <a href="https://www.fixmycity.de">FixMyCity</a> zusammengeschlossen um in einer gemeinsamen Kampagne
      zusammen mit zivilgesellschaftlichen Akteuren Parkraumdaten für Xhain zu erfassen. Teil des Projektes
      ist auch, die Datenqualität zusammen mit dem Bezirksamt zu prüfen.
    </p>
    <p>
      Seit Anfang 2023 steht <a href="https://www.geodaten-fk.de/MeinXhain/Portal/#"
        >im GeoPortal von Friedrichshain-Kreuzberg</a
      > ein offiziell geprüfter Datensatz zur Nutzung bereit.
    </p>
    <p>
      Mehr Informationen
      <a href="https://fixmyberlin.de/parkraum/friedrichshain-kreuzberg"
        >auf der Projektseite des Bezirksamtes bei fixmyberlin</a
      >
      sowie
      <a
        href="https://wiki.openstreetmap.org/wiki/Berlin/Verkehrswende/Parkraum/Mapping_Kampagne_Xhain"
        >auf der Wiki-Projektseite der OSM Berlin Community</a
      >
    </p>
  </div>

  <div
    id="prototype-fund"
    class="target:notice target:bg-purple-100 hover:bg-purple-50 hover:ring-8 hover:ring-purple-50"
  >
    <h2 class="mb-3">Förderung Prototype Fund</h2>

    <p>
      Im Zeitraum September 2022 bis Februar 2023 wurde dieses Projekt durch den Prototype Fund
      (Runde 12) des Bundesministeriums für Bildung und Forschung gefördert.
      <a href="/posts/2022-09-01-prototype-fund">Mehr erfahren…</a>
    </p>
    <div class="grid grid-cols-3 items-start justify-start gap-3">
      <img
        src="/images/prototype-fund/logo-prototype-fund.svg"
        class="m-0"
        alt="Logo Prototype Fund"
      />
      <img
        src="/images/prototype-fund/logo-bmbf.svg"
        class="m-0"
        alt="Logo Bundesministerium für Bildung und Forschung"
      />
    </div>
  </div>

  <div
    id="contact"
    class="target:notice target:bg-purple-100 hover:bg-purple-50 hover:ring-8 hover:ring-purple-50"
  >
    <h2 class="mb-3">Kontakt</h2>

    <p>
      <a href="/contact">Meetups, Github, Telegram, …</a>
    </p>
  </div>
</LayoutArticlePage>
