<nav class="absolute top-36 right-2 z-1000 flex flex-col gap-1.5">
  <!-- Legend button on Map -->
  <span><!-- Placeholder --></span>
  <button
    data-show-hide-trigger="legend"
    class="inline-flex items-center justify-center rounded border border-gray-300 bg-blue-100 px-1.5 py-0.5 text-xs font-semibold !text-gray-700 shadow-sm ring-2 ring-gray-400/40 hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-500 md:hidden"
  >
    Legende
  </button>

  <!-- Edit button on Map -->
  <a
    data-update-edit-osm
    href="https://www.openstreetmap.org/edit#map=14/52.4795/13.4445"
    class="inline-flex items-center justify-center rounded border border-gray-300 bg-white px-1.5 py-0.5 text-xs font-medium !text-gray-700 shadow-sm ring-2 ring-gray-400/40 hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
    target="_blank"
    rel="noopener noreferrer"
  >
    Bearbeiten
  </a>

  <!-- Open Mapillary button on Map -->
  <a
    data-update-mapillary-link
    href="https://www.mapillary.com/app/"
    class="inline-flex items-center justify-center rounded border border-gray-300 bg-white px-1.5 py-0.5 text-xs font-medium !text-gray-700 shadow-sm ring-2 ring-gray-400/40 hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
    target="_blank"
    rel="noopener noreferrer"
  >
    Mapillary
  </a>
</nav>
