---
import clsx from 'clsx'

export type Props = {
  colorClass?: string | undefined
  className?: string | undefined
}

const { colorClass, className } = Astro.props
---

<div
  class={clsx(
    'p-4 rounded leading-normal prose prose-blue [--tw-prose-bullets:_black] prose-p:first-child:my-0 prose-h1:mt-0 prose-h2:!mt-0',
    className,
    colorClass || 'bg-sky-100'
  )}
  data-component="Notice"
>
  <slot />
</div>
