---
import clsx from 'clsx'

export type Props = {
  colorClass?: string | undefined
  className?: string | undefined
}

const { colorClass, className } = Astro.props
---

<div
  class={clsx(
    'prose-p:first-child:my-0 prose prose-blue rounded p-4 leading-normal [--tw-prose-bullets:_black] prose-h1:mt-0 prose-h2:!mt-0',
    className,
    colorClass || 'bg-sky-100',
  )}
  data-component="Notice"
>
  <slot />
</div>
