---
---

<nav class="absolute top-2 left-4 z-1000 flex flex-col gap-1.5">
  <div class="relative inline-block text-left" x-data="{ open: false }">
    <div>
      <button
        type="button"
        class="inline-flex w-full items-center justify-center rounded border border-gray-300 bg-white px-1.5 py-0.5 text-xs font-medium text-gray-700 shadow-sm ring-2 ring-gray-400/40 hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-gray-100"
        id="menu-button"
        aria-expanded="true"
        aria-haspopup="true"
        x-on:click="open = ! open"
      >
        Hintergrundkarte
        <svg
          class="-mr-1 ml-2 h-5 w-5"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
            clip-rule="evenodd"></path>
        </svg>
      </button>
    </div>

    <div
      class="ring-opacity-5 absolute left-0 mt-2 w-56 origin-top-right rounded bg-white shadow-lg ring-1 ring-black focus:outline-none"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="menu-button"
      tabindex="-1"
      x-show="open"
    >
      <div class="py-1" role="none" id="layer">
        <!-- MapLibre will add background layer here -->
      </div>
    </div>
  </div>
</nav>
