---
---

<section
  id="sum-by-click"
  class="absolute bottom-2 left-4 z-1000 flex items-center rounded-md bg-fuchsia-800/90 py-0.5 px-2 text-xl leading-tight text-white shadow-xl"
>
  <!-- Added by Maplibre on click on a vector tile segment -->
</section>
