---
import { PageDashboardDate } from '@components/PageDashbard/PageDashboardDate'
import { PageDashboardTable } from '@components/PageDashbard/PageDashboardTable'
import LayoutArticlePage from '@layouts/LayoutArticlePage.astro'
---

<LayoutArticlePage
  title='Dashboard aus dem Projekt "Vector Tiles"'
  noindex={true}
  menuHighlight="project_vector_tiles_dashboard"
  maxWidthClass="max-w-7xl lg:pr-10"
>
  <h1>Parkraum Berlin: Statistiken</h1>
  <p class="mt-2 text-sm text-gray-700">
    Die Liste zeigt pro Bezirk, wie viel km Straße bereits mit dem
    <code>parking:lane</code>-Schema gemapped sind.
  </p>
  <PageDashboardDate client:idle />
  <div class="mt-8 flex flex-col">
    <div class="ring-opacity-5 overflow-hidden shadow ring-1 ring-black md:rounded-lg">
      <PageDashboardTable client:load />
    </div>
  </div>
</LayoutArticlePage>
