<nav class="absolute right-2 top-36 z-1000 flex flex-col gap-1.5">
  <!-- Legend button on Map -->
  <span><!-- Placeholder --></span>
  <button
    data-show-hide-trigger="legend"
    class="inline-flex items-center justify-center rounded border border-gray-300 bg-blue-100 px-1.5 py-0.5 text-xs font-semibold !text-gray-700 shadow-sm ring-2 ring-gray-400/40 hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-500 md:hidden"
  >
    Legende
  </button>

  <!-- Edit button on Map -->
  <a
    data-update-edit-osm
    href="https://www.openstreetmap.org/edit"
    class="inline-flex items-center justify-center rounded border border-gray-300 bg-white px-1.5 py-0.5 text-xs font-medium !text-gray-700 shadow-sm ring-2 ring-gray-400/40 hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img src="/images/icons/edit.svg" class="mr-1 h-5 w-5" alt="" area-hidden="true" />
    OSM
  </a>

  <a
    data-update-edit-parking
    href="https://tordans.github.io/parking-lanes/"
    class="inline-flex items-center justify-center rounded border border-gray-300 bg-white px-1.5 py-0.5 text-xs font-medium !text-gray-700 shadow-sm ring-2 ring-gray-400/40 hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-500"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img src="/images/icons/edit.svg" class="mr-1 h-5 w-5" alt="" area-hidden="true" />
    Parkraum
  </a>

  <!-- Open Mapillary button on Map -->
  <div class="flex">
    <a
      data-update-mapillary-link
      href="https://www.mapillary.com/app/"
      class="inline-flex items-center justify-center rounded-l border border-gray-300 bg-white px-1.5 py-0.5 text-xs font-medium !text-gray-700 shadow-sm ring-2 ring-gray-400/40 hover:z-10 hover:bg-blue-200 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-500"
      target="_blank"
      rel="noopener noreferrer"
      title="Mapillary Straßenfotos – Kartenausschnitt öffnen"
    >
      Mapillary
    </a>
    <a
      data-update-kartaview-link
      href="https://kartaview.org/map/"
      class="inline-flex items-center justify-center rounded-r border border-gray-300 bg-white px-1.5 py-0.5 text-xs font-medium !text-gray-700 shadow-sm ring-2 ring-gray-400/40 hover:z-10 hover:bg-blue-200 focus:z-10 focus:outline-none focus:ring-2 focus:ring-blue-500"
      target="_blank"
      rel="noopener noreferrer"
      title="Kartaview Straßenfotos – Kartenausschnitt öffnen"
    >
      K<span class="sr-only">artaview</span>
    </a>
  </div>
</nav>
