---
import Navigation from '@components/Layout/Navigation.astro'
import Layout from './Layout.astro'

type Props = {
  title: string
  menuHighlight?: string | undefined
  noindex?: boolean | undefined
}

const { title, menuHighlight, noindex } = Astro.props
const pathname = new URL(Astro.request.url).pathname
---

<Layout title={title} noindex={noindex}>
  <div class="flex flex-col text-gray-900 lg:flex-row lg:gap-3">
    <Navigation
      client:load
      layoutType="article"
      currentPage={pathname}
      menuHighlight={menuHighlight}
    />
    <main class="flex-1">
      <slot />
    </main>
  </div>
</Layout>

<script async src="/javascript/linkify-headlines.js"></script>
